nav.top-bar(data-topbar, role='navigation')
  section.top-bar-section.sails-app-top-bar-section
    ul.left
      li
        a(href='#') Home
      li.divider
      li.has-dropdown
        a User
        ul.dropdown
          li
            a(href='#user') List
          li
            a(href='#user/new') New
