.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: @gutter;
  padding-right: @gutter;
}
.full-width {
  width: 100%;
}
.row {
  max-width: none;
  &.no-edge-gutter {
    width: auto;
    margin-left: -@gutter;
    margin-right: -@gutter;
  }
}
#main {
  margin-top: 2 * @box-spacing;
}
#quick-form:not(:empty) {
  margin-bottom: @box-spacing;
}
.bounded-box {
  border: 1px solid @border-color;
  padding: @gutter;
}

@media screen and (max-width: 1279px) {
  #pri-header > .top-bar {
    margin-left: -@gutter;
    margin-right: -@gutter;
  }
}
